/*Top Navigation Components */

#top-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
}

#top-nav-left {
    align-self: flex-start;
}

#top-nav-right {
    align-self: flex-end;
}

ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

li {
    margin: 0px 15px 0px 0px;
}

.top-nav-text {
    text-decoration: none;
    color:rgb(77, 77, 77);
}

a {
    /*text-decoration: none;
    color:rgb(77, 77, 77);*/
    font-family: Arial, Helvetica, sans-serif;
    color: inherit;
    text-decoration: inherit;
}

a:hover {
    text-decoration: underline;
}

#sign-in-button {
    background-color: rgb(0, 119, 255);
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 2px;
    padding: 8px 12px 8px 12px;
}

/* The Apps Widget in the Top Navigation */

#apps {
    display: grid;
    grid-template-columns: 4px 4px 4px;
    grid-template-rows: 4px 4px 4px;
    gap: 2px;
    opacity: 0.5;
}

#apps:hover {
    opacity: 1;
}

.app-square {
    background-color: rgb(73, 73, 73);
}

/* Main Content */

#logo {
    display: block;
    margin: 109px auto auto auto;
    width: 272px;
    height: auto;
}

/* Search Bar */

#search-bar {
    display: block;
    margin: auto;
    height: 40px;
    width: 500px;
    margin: 30px auto auto auto;
    border-radius: 20px;
    border: 1px solid rgb(216, 216, 216);
    background-color:white;
    display: flex;
}

#search-bar:hover {
    box-shadow: 2px 2px 2px grey, -2px -2px 2 grey;
}

#search-bar-input {
    border: none;
    background-color: white;
    border-radius: 20px;
    width: 425px;
}

#search-icon {
    display: block;
    padding: 10px;
    color: rgb(189, 189, 189);
}

/* Buttons Under the Search Bar */

#main-buttons {
    margin: auto;
    width: 100%;
    justify-content: center;
    padding: 10px;
    display: flex;
}

.search-button {
    display: block;
    background-color: rgb(247, 247, 247);
    color: rgb(56, 56, 56);
    text-decoration: none;
    font-size: .9em;
    border-radius: 3px;
    margin: 8px;
    padding: 10px 15px 10px 15px;
    border: 1px solid transparent;

}

.search-button:hover {
    text-decoration: none;
    border: 1px solid rgb(233, 233, 233);
    box-shadow: 0px 1px 1px rgb(233, 233, 233);
}

/* Bottom Navigation */ 

#bottom-nav {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: fixed;
    bottom: 0px;
    background-color: #f2f2f2;
    border: 1px solid rgb(233, 233, 233);
    color: #70757a;
    text-decoration: none;
    justify-content: space-between;
    font-size: 14px;
    /*height: 40px;*/
}

@media (max-width:878px) {
   #bottom-nav {
    flex-direction: column;
   }
   #bottom-nav-center {
    order: 1;
    align-self: center;
    text-align: center;
    justify-content: space-around;
   }
   #bottom-nav-right {
    order: 2;
    align-self: center;
   }
   #bottom-nav-left {
    order: 3;
    align-self: center;
   }

}

#bottom-nav-left {
    display: flex;
}

#bottom-nav-right {
    display: flex;
}

#bottom-nav-center {
    display: flex;
    align-items: center;
    align-self: center;
    text-align: center;
    width:400px;
    /*flex-wrap: nowrap;*/
}

#bottom-nav-text {
    color: #cfcfcf;
    text-decoration: none;
}

#leaf-icon {
    display: block;
    width: 14px;
    height: auto;
}

#leaf-icon-li {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

#carbon-neutral {
    margin-left: 5px;
    padding-left: 0px;
}