/*Top Navigation Components */

#top-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
}

#top-nav-left {
    align-self: flex-start;
}

#top-nav-right {
    align-self: flex-end;
}

ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

li {
    margin: 0px 15px 0px 0px;
}

a {
    text-decoration: none;
    color: rgb(77, 77, 77);
}

a:hover {
    text-decoration: underline;
}

#sign-in-button {
    background-color: rgb(0, 119, 255);
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 2px;
    padding: 8px 12px 8px 12px;
}

/* The Apps Widget in the Top Navigation */

#apps {
    display: grid;
    grid-template-columns: 4px 4px 4px;
    grid-template-rows: 4px 4px 4px;
    gap: 2px;
    opacity: 0.5;
}

#apps:hover {
    opacity: 1;
}

.app-square {
    background-color: rgb(73, 73, 73);
}

/* Main Content */

#logo {
    display: block;
    margin: 200px auto auto auto;
    width: 272px;
    height: auto;
}

#search-bar {
    display: block;
    margin: auto;
    height: 40px;
    width: 500px;
    margin: 30px auto auto auto;
    border-radius: 20px;
    border: 1px solid rgb(216, 216, 216);
    background-color:white;
}

#search-bar-input {
    border: none;
    background-color: white;
}

#search-icon {
    display: block;
    padding: 10px;
    color: rgb(189, 189, 189);
}